[submodule "lib/SmokeLounge.AOtomation.Hook"]
	path = lib/SmokeLounge.AOtomation.Hook
	url = https://github.com/SmokeLounge/AOtomation.Hook.git
[submodule "lib/SmokeLounge.AOtomation.Messaging"]
	path = lib/SmokeLounge.AOtomation.Messaging
	url = https://github.com/SmokeLounge/AOtomation.Messaging.git
[submodule "lib/SmokeLounge.AOtomation.AutoFactory"]
	path = lib/SmokeLounge.AOtomation.AutoFactory
	url = https://github.com/SmokeLounge/AOtomation.AutoFactory.git
